#emergency {
	width: 50%;
	background: #fff;
	min-height: 70px;

	border-top: 8px solid #f00000;
	box-shadow: rgba(0,0,0, .4) 0px 5px 2px;

	position: absolute;
	top: 10px;
	left: 25%;

	h1 {
		text-align: center;
		padding:5px 10px;
		margin: 0;
		text-align: center;
		color:#f00000;

		text-transform: uppercase;
		font-family: sans-serif;

		border-bottom: 1px solid #ccc;
	}

	a.close {
		background: #f00000;
		width: 60px;
		height: 20px;
	
		position: absolute;
		right: 0; top: 0;

		display: block;
		text-align: center;

		font-family: sans-serif;
		text-decoration: none;

		font-weight: bold;

		color:#fff;

		border: 1px solid #f00000;
		border-width: 0px 3px 3px 3px;
	}

	a.close:hover {
		background: #fff;
		color:#f00000;
	}

	a.close:before {
		content: 'x';
	}
	p {		
		font-family: sans-serif;
		font-size:1.1rem;
		line-height: 1.4em;
		padding:15px 15px;
		margin: 0;
	}
}