body, html {
	padding: 0;
	margin: 0;
	width: 100%;
}

body {
	background: #ddd;
}

.wrapper {
	width: 80%;
	min-height: 100px;

	margin: 30px auto 0 auto;
	padding: 30px;

	background: #fff;
	box-shadow: rgba(0,0,0, .4) 0px 2px 2px;

	color: #333;

	font-family: "Helvetica Neue", "Helvetica", sans-serif;

	h1, h2, h3 { padding: 0; margin: 0;}
	h1 { 
		font-weight: normal;
		font-weight: 200px;
		font-size: 3.4rem;
		text-align: center;

		margin: 0 0 20px 0;
	}

	h2 {
		font-weight: normal;
		font-weight: 200;
		text-align: center;
	}
}

header {
	padding-bottom: 10px;
	border-bottom: 1px solid #aaa;
	margin-bottom: 20px;
}

section {
	padding: 10px 0;

	p {
		line-height: 1.7rem;
	}
}

footer {
	border-top: 1px solid #aaa;
	padding-top: 20px;
	text-align: center;
}
